<div class="max-w-md mx-auto bg-slate-800 p-6 rounded-lg shadow-md">
  <h2 class="text-2xl font-bold text-yellow-400 mb-4">➕ Create Menu</h2>

  <!-- Form -->
  <form (ngSubmit)="addMenu()" class="space-y-4">
    <div>
      <label class="block text-sm mb-1">Menu Name</label>
      <input [(ngModel)]="menuName" name="menuName" type="text"
             class="w-full px-3 py-2 rounded-md bg-slate-700 text-white focus:ring-2 focus:ring-yellow-400"
             placeholder="Enter menu name" required>
    </div>

    <button *ngIf="pagePermissionService.hasComponent('Page Permission', 'Create Menu','Add')" type="submit"
            class="w-full bg-yellow-500 hover:bg-yellow-600 text-slate-900 font-bold py-2 rounded-md transition">
      Add Menu
    </button>
  </form>
</div>

<!-- Menu List -->
<div class="max-w-md mx-auto mt-6 bg-slate-800 p-6 rounded-lg shadow-md" *ngIf="menus.length > 0">
  <h3 class="text-xl font-semibold text-yellow-400 mb-3">📋 Menu List</h3>

  <ul class="space-y-2">
    <li *ngFor="let menu of menus; let i = index" 
        class="flex items-center justify-between bg-slate-700 px-3 py-2 rounded-md">
      
      <!-- Serial by index -->
      <span>{{ i + 1 }}. {{ menu.name }}</span>

      <div class="d-flex justify-content-center gap-2">
        <button *ngIf="pagePermissionService.hasComponent('Page Permission', 'Create Menu','Delete')" 
                title="Delete component"
                class="px-2 py-1 rounded-md text-red-600 border border-red-600 hover:bg-red-600 hover:text-white transition"
                (click)="openDeleteModal(menu.id)">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </li>
  </ul>
</div>



<!-- Delete Confirmation Modal -->
<app-confirm-delete
  [show]="showDeleteModal"
  [itemName]="selectedUserName"
  (cancel)="cancelDelete()"
  (confirm)="confirmDelete()">
</app-confirm-delete>